<!DOCTYPE html>
<html>
<head>
	<title>Where's Waldo?</title>
	<link rel="stylesheet" type="text/css" href="waldo.css">
	<script type="text/javascript" src="waldo.js"></script>
</head>
<body>
	<h1>Where's Waldo?</h1>

	<img id = "ww_img" src = "./images/ww-1.jpg">
</body>
</html>