<!DOCTYPE html>
<html>
<head>
	<title>Where's Waldo?</title>
	<link rel="stylesheet" type="text/css" href="waldo.css">
	<script type="text/javascript" src="waldo.js"></script>
</head>
<body>
	<h1>Where's Waldo?</h1>
	<p>Timer <span id="seconds">0</span></p>
	<img id = "ww_img" src = "./images/ww-2.jpg" width = "1024" height = "768">
</body>
</html>